*{
    font-family: sans-serif;
    box-sizing: border-box;
}



body{
    margin: 0 auto;
}



header{
    background-image: url("../imagens/cartaz.jpeg") ;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
header h1{
    color:white;
    font-size:30px ;
    margin: 0 auto;
}
 nav{
    background-color:lightgoldenrodyellow;
     list-style-type: none;
}

 nav ul{
     margin: 0 auto;
 }

nav li {
    display: inline-block;
    font-size: 12px;
    padding: 15px;
    padding-bottom: 0;
    padding-top: 0;


}

.container {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid darkblue;
    text-align: center;
}

.container img {
    max-width: 100%;
}

#box1 {
    width: 48%;
    background-color: navajowhite;
    margin: 1%;
    padding: 20px;
}

#box2 {
    width: 48%;
    background-color: #e9f7ef;
    margin: 1%;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

#box2 img {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    height: auto;
}

#box3 {
    width: 98%;
    background-color: #fef9e7;
    margin: 1%;
    text-align: center;
    gap: 20px;
    padding: 20px 40px;
}

#box3 figure {
    display: inline-block;
    margin: 0 20px;
}

#box3 img {
    width: 150px;
    height: 120px;
    display: block;
    margin: 0 auto;
}

#box3 figcaption {
    margin-top: 8px;
    font-size: 14px;
    text-align: center;
}

#box4 {
    width: 48%;
    background-color: #fbeee6;
    margin: 1%;
}

#box5 {
    width: 48%;
    background-color: #e9f7ef;
    margin: 1%;
}

#box6 {
    width: 98%;
    background-color: #fef9e7;
    margin: 1%;
    text-align: center;
    gap: 20px;
    padding: 20px 40px;
}





form {
    padding: 0 5%;
}

form div input, form div select {
    padding: 8px;
    border: 1px solid grey;
    border-radius: 4px;
    font-family: inherit;
}

.phone-container {
    display: flex;
    gap: 3px;
}


.footer {
  background-color: #292929;
  color: #ccc;
  padding: 40px 20px 10px;
  font-family: Arial, sans-serif;
}


.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap:30px;
  align-items: flex-start;
}

/* Colunas */
.footer-col {
  /*width: 220px;
  margin-bottom: 20px;*/
  flex:1 1 180px;
  max-width: 220px;
}

/* Títulos */
.footer h4 {
  margin-bottom: 15px;
  color: white;
}

/* Listas */
.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 8px;
}

/* Links */
.footer a {
  text-decoration: none;
  color: #ccc;
}

.footer a:hover {
  color: white;
}

/* Formulário */
.footer input {
  padding: 8px;
  border: none;
  margin-top: 5px;
}

.footer form{
    padding: 0;
}

.footer button {
  padding: 8px 12px;
  border: none;
  background: #444;
  color: white;
  cursor: pointer;
}

.footer button:hover {
  background: #666;
}

/* Parte de baixo */
.footer-bottom {
  text-align: center;
  border-top: 1px solid #444;
  margin-top: 20px;
  padding-top: 10px;
  font-size: 14px;
}